@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EMPrint";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/EMprint-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "EMPrint";
  font-style: light;
  font-weight: 300;
  src: local(""), url("/fonts/EMprint-Light.ttf") format("truetype");
}

@font-face {
  font-family: "EMPrint";
  font-weight: 500;
  src: local(""), url("/fonts/EMprint-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "EMPrint";
  font-style: bold;
  font-weight: 600;
  src: local(""), url("/fonts/EMprint-Bold.ttf") format("truetype");
}

body {
  font-family: "EMPrint";
  background: url("/photos/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cog-cognito {
  --highlight: #000000 !important;
  --highlight-reverse: rgba(255, 255, 255, 0) !important;
}

.cog-cognito {
  @apply text-black !important;
}

.cog-header__text {
  @apply hidden !important;
}

.cog-section__heading {
  @apply hidden !important;
}

/* ---- GENDER SELECT STYLES ---- */

.cog-label {
  @apply text-black font-bold !important;
}

.cog-field--18-1 .el-radio-group {
  @apply grid md:grid-cols-2 gap-x-8 md:gap-y-4 !important;
}

.cog-field--18-1 .el-radio {
  @apply border-2 border-solid rounded-md py-3 px-3 flex items-center justify-center text-sm font-semibold  uppercase sm:flex-1 cursor-pointer focus:outline-none bg-gray-700 border-gray-600 text-gray-100 hover:bg-gray-500 !important;
}

.cog-field--18-1 .el-radio:active {
  @apply ring-2 ring-offset-2 ring-[#f51832] !important;
}

.cog-field--18-1 .el-radio.is-checked {
  @apply bg-[#f51832] border-transparent text-white hover:bg-red-700 !important;
}

.cog-field--18-1 .el-radio__input {
  @apply sr-only !important;
}

.cog-field--18-1 .el-radio__original {
  @apply sr-only !important;
}
/* ---- END GENDER SELECT STYLES ---- */
/* ---- INPUT STYLES ---- */
.cog-text,
.cog-email,
.cog-field--18-3 {
  @apply rounded-md border border-solid border-gray-600 bg-white px-3 py-2 shadow-sm focus-within:border-[#000000] focus-within:ring-1 focus-within:ring-[#000000] !important;
}

.el-input__inner {
  @apply block w-full border-0 p-0 bg-transparent text-black placeholder-gray-400 font-semibold focus:ring-0 sm:text-sm  !important;
}

.cog-text .cog-label,
.cog-email .cog-label,
.cog-number .cog-label {
  @apply block text-base font-semibold text-gray-600 visible not-sr-only !important;
  clip-path: none !important;
}
/* ---- END INPUT STYLES ---- */
/* ---- OPTIN STYLES ---- */

.el-checkbox {
  @apply mb-0 !important;
}

.el-checkbox__inner {
  @apply rounded-lg !important;
}

.el-checkbox__inner::after {
  @apply border-gray-100 !important;
}

.el-checkbox__label {
  @apply pl-7 !important;
}

.cog-helptext {
  @apply pl-6 !important;
}

.cog-content > h5 {
  @apply text-black !important;
}

.cog-content > p {
  @apply text-sm !important;
}

.cog-field--18-92 .cog-label,
.cog-field--18-93 .cog-label {
  @apply text-center !important;
}

.cog-field--18-92 .cog-choice,
.cog-field--18-93 .cog-choice {
  @apply md:w-3/4 mx-auto !important;
}

.el-button {
  @apply text-white text-lg py-4 px-16 bg-[#000000] font-semibold rounded-lg block text-center md:w-1/2 mx-auto mt-12 cursor-pointer !important;
}

.cog-confirmation__message > h2 {
  @apply text-white !important;
}

.cog-confirmation__message > p {
  @apply text-white text-xl !important;
}

/*---------added values----------*/

.el-radio__inner{
  @apply bg-transparent border-4 border-black !important;
}
.main{
    width:100vw;
    min-height: 100vh;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}
.wrapper{
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:25px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn{
  display: block;
  width: fit-content;
  color:white;
  font-size: 2em;
  font-weight: bold;
  padding:8px ;
  width: 80%;
  text-align: center;
  border-radius: 8px;
  margin: 100px auto 20px auto;
  background-color: black;
}